@import url("https://fonts.googleapis.com/css?family=EB+Garamond&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  box-sizing: border-box;
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.seeking {
  font-size: 40px;
  text-align: center;
}

header {
  width: 100%;
  margin: 0 0 0 0;
  height: 80px;

  background-color: #61aada;
  color: white;
  font-size: 40px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

nav {
  float: center;
}

.side-bar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 80px;
  left: 0;
  background-color: #d2d9d1;
  padding-top: 10px;
}

.side-bar ul {
  font-size: 18px;
  margin: 10px 20px;
  list-style: none;
}

.side-bar li {
  margin-left: 10px;
  padding-top: 10px;
  position: relative;
  text-align: left;
  font-weight: bold;
}

.side-bar a {
  margin: 50px 10px 10px 50px;
  text-decoration: none;
  color: black;
}

.side-bar a:hover {
  color: #61aada;
}

.side-bar a::before {
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  background-color: #d2d9d1;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 200ms;
}
.side-bar a:hover::before {
  width: 100%;
}

body {
  font-family: "open sans", serif;
  justify-content: center;
  height: auto;
}

.home {
  object-fit: cover;
}

p {
  color: black;
  width: 70%;
  display: inline;
}

h1 {
  font-size: 2.625em;
  margin: 0px 20%;
  padding: 20px;
}

h2 {
  margin: 0 21.5%;
  padding: 10px 20px 0 0;
  font-family: "open sans";
  font-size: medium;
}

h3 {
  padding: 10px 30px;
  margin: 0 0;
}

.container {
  max-height: 100vh;
  overflow: scroll;
  scroll-snap-type: y;
  scroll-padding: 160px;
  padding: 100px 0 0 0;
}

.title {
  display: block;
  background-color: #d2d9d1;
}

.flex {
  display: flex;
  justify-content: space-around;
  scroll-snap-align: start;
}

.career {
  font-size: 20px;
  padding: 10px;
  margin: 10px 21.5%;
}

.mainImg {
  padding: 10px;
  margin: 50px 21.5%;
}

.profileImg {
  margin: 30px 70px 10px 10px;
  border-radius: 10px;
  border: 1px solid #61aada;
  object-fit: cover;
}

.shadow {
  padding: 20px;
  margin: 0 20%;
  font-size: large;
  align-content: center;
  scroll-padding: 300px;
}

button {
  border-radius: 5px;
  border: none;
  background: none;
  padding: 10px 20px;
  color: black;
  float: center;
  padding: 10px 30px 0px 0;
  width: 100%;
  font-weight: 30;
}

a .top:hover {
  color: #d2d9d1;
  cursor: pointer;
  border: none;
}

.container {
  background-size: 300px 1000px;
  display: flex;
  flex-direction: column;
  width: 90vw;
  border-radius: 10px;
}

/* main {
  height: 100vh;
  scroll-snap-type: block mandatory;
  scroll-padding: 100em;
  overflow-y: scroll;
}

.shadow {
  scroll-snap-align: end;
  scroll-margin-top: 10em;
} */
/* .panel.active img {
  transition-duration: 0.9s;
  transition-timing-function: ease;
  transform: translateX(320%);
} */

/* .panel {
  box-sizing: border-box;
  border: 1px solid #969696;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 30vh;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  flex: 6;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease;
  outline: black;
  background-image: white;
  display: inline;
} */

/* .panel h3 {
  font-size: 16px;
  position: top;
  bottom: 20px;
  left: 20px;
  margin: 10px;
  opacity: 1;
  color: black;
} */

/* .panel li {
  margin: 10px;
  opacity: 0;
  color: black;
}

.panel.active li {
  transform: translateY(900%);
  opacity: 1;
  transition: opacity 0.7s ease-in 0.7s;
  transition-duration: 0.9s;
  transition-timing-function: ease;
  transform: translateX(20%);
}
.panel button {
  margin: 10px;
  opacity: 0;
  color: black;
  cursor: pointer;
} */

/* .panel.active button {
  transform: translateY(100%);
  opacity: 1;
  transition: opacity 1s ease-in 0.3s;
  transition-duration: 0.9s;
  transition-timing-function: ease;
  transform: translateX(220%);
}

.panel.active {
  flex: 5;
  cursor: default;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
} */

/* @media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
} */
