@import url("https://fonts.googleapis.com/css?family=EB+Garamond&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "EB Garamond", serif;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 75px 75px;
  scroll-behavior: smooth;
  height: auto;
  background-color: #f9f5e1;
}

:target {
}

h1 {
  width: 500px;
  font-size: 2.625em;
}

h2 {
  text-align: left;
  width: 500px;
  font-family: "open sans";
  font-size: medium;
}

img {
  display: inline-block;
}
.profileImg {
  margin: 40px 10px 10px 10px;
  border-radius: 10px;
  border: 1px solid #824404;
}

button {
  border-radius: 5px;
  border: 1px solid #824404;
  background: #efe4af;
  padding: 10px 20px;
  color: #824404;
}

button:hover {
  border-radius: 7px;
  border: #b4801e;
}

.container {
  background-color: #f9f5e1;
  background-size: 300px 300px;
  display: flex;
  width: 90vw;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  border-radius: 10px;
}

.panel.active img {
  transition-duration: 1500ms;
  transition-timing-function: ease-in-out;
  transform: translateX(575%);
}

.panel {
  box-sizing: border-box;
  border: 1px solid #969696;
  background-size: auto 300%;
  background-position: center;
  background-repeat: no-repeat;
  height: 30vh;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  flex: 0.75;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
  outline: black;
  background-image: linear-gradient(#efe4af, #ad7b15, #824404);
}

.panel h3 {
  font-size: 16px;
  position: top;
  bottom: 20px;
  left: 20px;
  margin: 10px;
  opacity: 1;
  color: black;
}

.panel li {
  margin: 10px;
  opacity: 0;
  color: black;
}

.panel.active li {
  transform: translateY(-900%);
  opacity: 1;
  transition: opacity 0.7s ease-in 0.7s;
}
.panel button {
  margin: 10px;
  opacity: 0;
  color: black;
  cursor: pointer;
}

.panel.active button {
  transform: translateY(-500%);
  opacity: 1;
  transition: opacity 1s ease-in 0.7s;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

.shadow {
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.3);
  padding: 20px;
  margin: 10px;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
